.theme_size_default {
  // Значения размеров высоты текста
  --text-height-s: 7px;
  --text-height-m: 8px;
  --text-height-l: 10px;
  --text-height-xl: 11px;
  --text-height-xxl: 13px;

  // Значения межстрочных интервалов
  --line-height-s: 18px;
  --line-height-m: 21px;
  --line-height-l: 25px;
  --line-height-xl: 28px;
  --line-height-xxl: 34px;
}
