.theme_color_project-warning {
  // Значения фонов блоков
  --default-bg-color: #ff9900;
  --accent-bg-color: #fff;
  --border-color: #fff;
  
  // Значения состояний текста
  --primary-text-color: #fff;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: rgba(255, 255, 255, 0.3);
  --link-text-color: #fff;
}
