.theme_color_project-inverse {
  // Значения фонов блоков
  --default-bg-color: #000;
  --accent-bg-color: #fff;
  --border-color: #fff;
  
  // Значения состояний текста
  --primary-text-color: #fff;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --additional-text-color: rgba(255, 255, 255, 0.3);
  --link-text-color: #0070f0;

  // Белая картинка
  --image: url("data:image/svg+xml,%3Csvg width='80' height='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 16h16V8h8v8h8v8h8v8h8v16h-8v-8h-8v8h-8v8h-8v-8H32v8h-8v-8h-8v-8H8v8H0V32h8v-8h8v-8h8V8h8v8zm-8 16h8v-8h-8v8zM16 0h8v8h-8V0zm0 56h8v8h-8v-8zm40-24v-8h-8v8h8zm8-32v8h-8V0h8zm0 56v8h-8v-8h8z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
  --image-bg-color: var(--default-bg-color);
  --image-border-color: var(--border-color);
}
